* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: calc(100vh - 90px);
}
.price {
  width: 100%;
  text-align: center;
  margin-top: 90px;
}
input[type = number] {
    padding: 10px 20px;
    border: none;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 6px;
}
input:focus {
    outline: none;
}
.Procces {
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.egp,
.sar {
    margin: 20px 80px 10px 0;
    font-size: 22px;
    font-weight: bold;
}
